{% extends "base.html" %}

{% block content %}

  <body>
    
    <div class="block-abheader">
      <a class="block-aboutme" href="{%url 'home'%}"><h1 id="up">BIZE</h1></a>
    </div>


    <div class="block-aboutme js-change-opacity-1" >
      <span>
        <h2>Почему</h2>
        Почему я выбрал рэп? Да потому что круто, когда рифмы и буквы становятся в нужном порядке и передают то, что ты хочешь передать.
      </span>
      
      <span>
        <h2>О Bize</h2>
		    Йоу! Меня зовут Рома, мне двадцать лет, как ты мог уже слышать. И я стараюсь писать хип-хопный рэп. Спасибо, что зашел.
        Кстати, <strong><em>снизу - это  я.</em></strong>
      </span>
      
      <span>
        <h2>Зачем</h2>
        Зачем я полез в веб? Просто потому, что я же люблю интерфейсы, функции, переменные и методы. А тут как раз это все есть.
      </span>
    </div>

    <div class="block-aboutme js-change-opacity-2">
      <span>
        <h2>Сколько</h2>
        Сколько все-таки мне времени нужно, чтобы написать альбом? Дааа, математика тут не самая легкая применяется, конечно. Впрочем, я и сам не знаю. Давайте просто сядем и вместе подождем. 
        
      </span>

      <div>
        <img src = "https://instagram.fhel3-1.fna.fbcdn.net/vp/6bf1f9d526f617b208093febd2239780/5D16EF3F/t51.2885-15/e35/31571404_1200392780097857_5635427400830418944_n.jpg?_nc_ht=instagram.fhel3-1.fna.fbcdn.net" height="600"width="480">
      </div>

      <span>
        <h2>Для чего</h2>
        Для чего это? Данный сайт создан для неопределенного взаимодействия с моей неопределенной музыкой. Я его начал делать, но пока не дал еще ему какой-то задачи, так что все хорошо.
      </span>
    </div>
 
    <div class="block-aboutme js-change-opacity-3">

      <span>
        <h2>С кем</h2>
        С кем я? Я стараюсь делать все не один, а с поддержкой и опорой. Мы фитуем, делаем десигн и все в этом духе. 
      </span>

      <span>
        <h2>Где</h2>
        Где меня искать? Да почти на всех площадках. Вк, твиттер, инстаграм и саундклауд. Все ссылки ты можешь найти на сайте. Удачи.
      </span>

      <span>
        <h2>Что дальше</h2>
        Что может быть дальше? Да вроде это и так всем понятно. Дальше только рэп, концерты и поистине угарный хардкор!
      </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="./static/js/script.js"></script>

  </body>

  {% endblock content %}