{% extends "base.html" %}

{% block content %}

<body>
	
  <div class="block-logheader user-system">
    <a class="block-login" href="{%url 'home'%}"><h1 id="up">BIZE</h1></a>
  </div>

  <div class="authorization">
    <a href="{% url 'logout_user'%}">Выйти</a>
  </div>

  <div class = "comment-username">
    <table>
        <tr class='success'>
          <td><img src = "../static/images/placeholder.svg" height="35" width="35">
          <td>{{ request.user.username }}</td>
        </tr>
    </table>
  </div>

  <div class="main-comment-container">

    <div class="comment-area">
      <img src = "../static/images/romadvorin.jpg" height="70" width="70">
      <div class="comment-text">
        <h2>Пользователь</h2>
        Ублюдок, мать твою.
      </div>
    </div>

    <div class="comment-area">
      <img src = "../static/images/romadvorin.jpg" height="70" width="70">
      <form class="form-comment-container">
        <textarea></textarea>
        <button type="submit">Отправить</button>
      <form>
    </div>
  </div>
    
  <div>
    <form action=""  method="post" class="post-form">
      {% csrf_token %}
      {{ form.as_p }}
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="./static/js/script.js"></script>


  </body>

{% endblock content %}