{% extends "base.html" %}

{% block content %}

<body>
	
  <div class="block-logheader user-system">
    <a class="block-login" href="{%url 'home'%}"><h1 id="up">BIZE</h1></a>

    {% if request.user.is_authenticated %}
      <div class="authorization">
        <a href="{% url 'logout_user'%}">{{ request.user.username }}</a>
      </div>
    {% else %}
      <div class="authorization">
        <a href="/login.html">Войти</a>
      </div>
    {% endif %}
  </div>

  <div class="main-comment-container">

    {% if request.user.is_authenticated %}
      <div class="comment-area">
        <img src="../static/images/placeholder.png">
        {% for field in form %}
          <form class="form-comment-container" action=""  method="post">
            {% csrf_token %}
            {{ field }}
            <button type="submit">Отправить</button>
          <form>
        {% endfor %}
      </div>
    {% endif %}

    {% if comments %}
      <div class="comment-scroll-area">
        {% for comment in comments %}
        <div class="comment-area">
          <img src="/static/images/placeholder.png">
          <div class="comment-text">
            <h2>{{ comment.user }} </h2>
            {{ comment.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="not-comment">
        <p>Ни одного комментария пока нет. Вы можете стать первым!</p>
      </div>
    {% endif %}
    
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="./static/js/script.js"></script>


</body>

{% endblock content %}