{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <body>

      <div class="block-logheader-form">
        <a class="block-login" href="{%url 'home'%}"><h1 id="up">BIZE</h1></a>
      </div>


      <div id="wrapper">
        <form class="form-container" action="" method="post">
          <div id="register" class="authorization">
            <h1>Вход</h1>
            <a href="/register.html">Регистрация</a>
          </div>
          {% csrf_token %}
          <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
          {{ form.as_p }}
          <button type="submit">Войти</button>
        </form>
      </div>
    </body>
{% endblock %}