{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <body>

      <div class="block-merch">
        <a class="block-login" href="{%url 'home'%}"><h1 id="up">BIZE</h1></a>
      </div>

      <div class="merch-products">
        <img src="/static/images/t-shirt-black.png">
        <p>Футболка <strong>Никакого рэпа</strong> - скоро в продаже!</p>
        <button id="merch-button">Купить</button>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="./static/js/script.js"></script>


    </body>
{% endblock %}